# http://ddollar.github.com/foreman/
RACK_ENV=development
SECRET_KEY_BASE=development_secret
GITHUB_SECRET_KEY=github_secret
GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET
WEBHOOK_URL=https://example.com
