<header class="page-header">
  <h1>PRs</h1>
  <%= link_to "Getting Started?", page_path("setup") %>
</header>

<section class="slice">
  <div class="container">
    <ol class="tags">
      <li>
        <span class="slice-title">
          Filter:
        </span>
      </li>
      <%= render tags %>
    </ol>
  </div>
</section>

<main>
  <div class="container">
    <% if grouped_pull_requests["needs review"].present? %>
      <h3>Needs Review</h3>
      <ol class="table-list">
        <%= render grouped_pull_requests["needs review"] %>
      </ol>
    <% end %>

    <% if grouped_pull_requests["in progress"].present? %>
      <h3>In Progress</h3>
      <ol class="table-list">
        <%= render grouped_pull_requests["in progress"] %>
      </ol>
    <% end %>
  </div>
</main>
