<li>
  <%= link_to(toggle_tag_on_path(tag.name), class: tag_classes(tag.name)) do %>
    <%= tag.name %>
    <span class="tag-badge" data-role="pr-count"><%= tag.pull_requests_count %></span>
  <% end %>
</li>
