.content {
  code {
    background: $light-gray;
    border-radius: $base-border-radius;
    border: $base-border;
    color: $red;
    margin-right: em(4);
    padding: em(5);
  }

  pre code {
    padding: em(1);
  }

  section {
    margin-bottom: 4em;
  }
}

.instructions {
  @extend %default-ol;

  li {
    margin-bottom: 2em;
  }
}
