.content {
  @include margin(null auto 2em);
  background: white;
  border-radius: $base-border-radius;
  border: $base-border;
  box-shadow: $base-box-shadow;
  max-width: em(720);
  overflow: auto;
  padding: 1.5em;

  @include media($medium-screen-up) {
    padding: 3em;
  }

  ul {
    @extend %default-ul;
  }

  h2 {
    border-bottom: $light-border;
    font-size: $large-font-size;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  section:not(:last-child) {
    margin-bottom: 4em;
  }

  ol {
    @extend %default-ol;

    li {
      margin-bottom: 1em;
    }
  }
}
