body {
  background: $darker-blue;
}

.page-header {
  @include padding(1em null);
}

.slice {
  @include padding(1em null);
  background: $dark-blue;
  margin-bottom: 2em;
}

.container {
  @include outer-container;
}
