.page-header {
  @include padding(1em null);
  background-color: $blue;

  .container {
    @include align-items(center);
    @include display(flex);
    @include justify-content(space-between);
  }
}

.page-header-nav-link {
  color: rgba(white, 0.5);
  font-size: $medium-font-size;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: white;
  }

  &:active {
    top: 1px;
  }
}

.page-header-logo {
  @include position(relative, -0.2em null null null);
  font-family: $decorative-font-family;

  a {
    color: white;
    display: inline-block;
    font-family: $decorative-font-family;
    position: relative;
    text-shadow: 0 2px 0px rgba(black, 0.15);

    &:hover,
    &:focus {
      @include transform(scale(1.025));
      color: white;
    }

    &:active {
      text-shadow: none;
      top: 1px;
    }
  }
}

.page-header-nav {
  text-align: right;

  a {
    margin-left: 2em;
    white-space: nowrap;
  }
}
