.page-header {
  @include padding(1em null);
  background-color: $blue;

  .container {
    @include media($medium-screen-up) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

.page-header-logo {
  @include position(relative, -0.2em null null null);
  font-family: $decorative-font-family;

  a {
    color: $white;
    display: inline-block;
    font-family: $decorative-font-family;
    position: relative;
    text-shadow: 0 2px 0px rgba(black, 0.15);

    &:hover,
    &:focus {
      transform: scale(1.025);
      color: $white;
    }

    &:active {
      text-shadow: none;
      top: 1px;
    }
  }
}

.page-header-nav {
  margin-top: 1em;

  @include media($medium-screen-up) {
    margin-top: 0;
    text-align: right;
  }
}

.page-header-nav-item {
  display: inline-block;
  font-size: $medium-font-size;

  @include media($medium-screen-up) {
    text-align: right;
  }

  + .page-header-nav-item {
    margin-left: 2em;
  }
}

.page-header-nav-link {
  color: $transparent-white;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $white;
  }

  &:active {
    top: 1px;
  }
}
