.page-header {
  @include padding(1em null);
  background: $blue;

  .container {
    @include align-items(center);
    @include display(flex);
    @include justify-content(space-between);
  }

  h1 {
    @include flex(1);
  }

  a {
    @include transition(background, 0.15s);
    color: rgba(white, 0.5);
    font-size: em(14);
    font-weight: 600;
    position: relative;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: white;
    }

    &:active {
      top: 1px;
    }
  }
}
