.slice {
  @extend %margin-bottom;
  @include padding(1em null);
  background: $dark-blue;
  border-bottom: 1px solid $darker-blue;
  border-top: 1px solid $darker-blue;
  box-shadow: 0 1px 2px rgba(black, 0.15);

  p {
    color: white;
    margin-bottom: 0;
  }
}

.slice-title {
  color: rgba(white, 0.5);
  font-weight: 800;
  text-transform: uppercase;
}
