.table-list {
  border: $dark-border;
  box-shadow: $heavy-box-shadow;
}

.table-list-item {
  @include align-items(space-between);
  @include display(flex);
  background: white;
  border-left: $base-border;
  border-right: $base-border;
  border-top: $base-border;
  width: 100%;

  &:hover {
    background: lighten($lighter-gray, 2%);
  }

  &:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    border-bottom: $base-border;
  }
}

.table-list-cell {
  @include align-items(center);
  @include display(flex);
  padding: em(8) em(12);

  &.stacked {
    @include align-items(flex-start);
    @include flex(1);
    @include flex-direction(column);
  }
}

.table-list-cell-title {
  color: $base-font-color;
  font-family: $header-font-family;
  font-size: em(18);
  font-weight: 800;

  &:hover {
    color: $base-link-color;
  }
}

.table-list-cell-subtitle {
  color: $light-font-color;
  font-size: em(12);

  a {
    color: $base-font-color;

    &:hover,
    &:focus {
      color: $base-link-color;
    }
  }
}
