.table-list {
  @extend %margin-bottom;
  background: white;
  border-radius: $base-border-radius;
  border: $base-border;
  box-shadow: 0 1px 2px rgba(black, 0.075);
  overflow: hidden;
}

.table-list-item {
  @include align-items(space-between);
  @include display(flex);
  @include padding(null em(12));

  &:first-child {
    @include padding(0.5em null);

    @include media($medium-screen-up) {
      @include padding(1em null);
    }
  }

  &:not(:last-child) {
    border-bottom: $light-border;
  }

  &:not(:first-child):hover {
    background: lighten($lighter-gray, 2%);
  }
}

.table-list-cell {
  @include align-items(center);
  @include display(flex);
  padding: 1em em(12);

  &.stacked {
    @include align-items(flex-start);
    @include flex(1);
    @include flex-direction(column);
  }
}

.table-list-cell-title {
  color: $base-font-color;
  font-family: $header-font-family;
  font-size: $base-font-size;

  @include media($medium-screen-up) {
    font-size: $large-font-size;
  }

  &:hover {
    color: $base-link-color;
  }
}

.table-list-cell-subtitle {
  color: $light-font-color;
  font-size: $small-font-size;

  a {
    color: $base-font-color;

    &:hover,
    &:focus {
      color: $base-link-color;
    }
  }
}
