$tags: (ember: $red, design: $pink, angular: $purple);

.tags {
  @include display(flex);

  li {
    margin-right: $base-spacing;
  }
}

.tag-badge {
  @include padding(null em(10, 12));
  background-color: $darker-blue;
  border-radius: 1em;
  display: inline-block;
  font-size: em(10, 12);
  margin-left: 1em;
}

%tag-base {
  border-radius: $base-border-radius;
  border: 1px solid transparent;
  color: white;
  display: inline-block;
  font-size: em(12);
  font-weight: 600;
  padding: em(4) em(12);
}

.tag {
  @extend %tag-base;

  @each $tag, $background-color in $tags {
    &.#{$tag} {
      background: $background-color;
    }
  }
}

.tag-toggle {
  @extend %tag-base;
  border-color: $darker-blue;

  &:hover,
  &:active,
  &:focus {
    background: lighten($dark-blue, 2%);
    color: white;
  }

  @each $tag, $background-color in $tags {
    &.#{$tag}.is-active {
      background: $background-color;
      border-color: transparent;
      box-shadow: $base-box-shadow;

      &:hover,
      &:focus {
        background: darken($background-color, 3%);
      }

      .tag-badge {
        background-color: darken($background-color, 10%);
      }
    }
  }
}
