$tags: (
  android: $brown,
  angular: $green,
  code: $purple,
  design: $pink,
  ember: $hot-pink,
  haskell: $teal,
  ios: $blue,
  javascript: $yellow,
  objective-c: $medium-gray,
  rails: $light-blue,
  ruby: $red,
  swift: $orange,
);

.tags {
  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: -0.5em;

  li {
    @include margin(null 0.5em 0.5em null);
    white-space: nowrap;

    @include media($medium-screen-up) {
      margin-right: 1.5em;
    }
  }
}

%tag-base {
  border-radius: $base-border-radius;
  border: 1px solid transparent;
  color: white;
  display: inline-block;
  font-size: $small-font-size;
  font-weight: 600;
  padding: 0.25em 0.75em;
}

.tag {
  @extend %tag-base;
  background: $tag-fallback-color;
  margin-right: 1em;

  @each $tag, $background-color in $tags {
    &.#{$tag} {
      background: $background-color;
    }
  }
}

.tag-toggle {
  @include transition(background, 0.15s);
  @extend %tag-base;
  border-color: $darker-blue;
  position: relative;

  &:hover,
  &:focus {
    background: lighten($dark-blue, 2%);
    color: white;
  }

  &:active {
    top: 1px;
  }

  &.is-active {
    background: $tag-fallback-color;
    border-color: transparent;
    box-shadow: $base-box-shadow;

    .tag-badge {
      background: darken($tag-fallback-color, 3%);
    }
  }

  @each $tag, $background-color in $tags {
    &.#{$tag}.is-active {
      background: $background-color;
      border-color: transparent;

      &:hover,
      &:focus {
        background: darken($background-color, 3%);
      }

      .tag-badge {
        background-color: darken($background-color, 10%);
      }
    }
  }
}

.tag-badge {
  @include padding(null em(10, 12));
  background-color: $darker-blue;
  border-radius: 1em;
  display: inline-block;
  font-size: em($xsmall-font-size, $small-font-size);
  margin-left: 1em;
}
